<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <title>SAML Response</title>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>

<div class="container-fluid">
    <h1>Service Provider 1 (SP1)</h1>

    <div class="row">
        <div class="col-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Attribute</th>
                    <th scope="col">Data</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Issuer</th>
                    <td th:text="${issuer}"></td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td th:text="${status}"></td>
                </tr>
                <tr>
                    <th scope="row">Identity</th>
                    <td th:text="${nameId}"></td>
                </tr>
                <tr>
                    <td colspan="2">User Data</td>
                </tr>
                <tr>
                    <th scope="row">First Name</th>
                    <td><span th:each="e : ${firstname}"> <strong th:text="${e}"></strong></span></td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td><span th:each="e : ${lastname}"> <strong th:text="${e}"></strong></span></td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td><span th:each="e : ${email}"> <strong th:text="${e}"></strong></span></td>
                </tr>
                <tr>
                    <th scope="row">Phone</th>
                    <td><span th:each="p : ${phone}"> <strong th:text="${p}"></strong></span></td>
                </tr>
                <tr>
                    <td colspan="2">Custom Data</td>
                </tr>

                <tr>
                    <th scope="row">Roles</th>
                    <td><span th:each="role : ${roles}"> <strong th:text="${role}">&nbsp;</strong></span></td>
                </tr>
                <tr>
                    <th scope="row">Domain</th>
                    <td><span th:each="d : ${domain}"> <strong th:text="${d}"></strong></span></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-8">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                    Show SAML Response
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <h2>SAML Response</h2>
                    <pre id="code" class="prettyprint lang-xml" th:text="${xml}"></pre>
                </div>
            </div>
        </div>
    </div>



</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>